body {
    margin: 0px;
}

.navbar {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 100px;
}

.main-menu {
    display: flex;
    align-items: center;;
}

.menu-item {
    margin-right: 24px;
    list-style: none;
}

.menu-link {
    text-decoration: none;
}

.menu-link:visited {
    color: blue;
}

.hero {
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-title {
    margin-top: 0px;
    font-weight: 500;
}

.hero-p {
    color: aliceblue;
}

.hero-btn {
    padding: 15px 30px;
    border-radius: 100px;
    border: none;
    background-color: gold;
    font-family: 'poppins' sans-serif;
    font-size: 14px;
}

.hero-btn:hover {
    background-color: aquamarine;
    cursor: pointer;
    color: aliceblue;
}

.hero-img {
    width: 555px;
    border-radius: 30%;
}

.about-section {
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.about-img {
    width: 555px;
    border-radius: 100%;
}

.discord-section {
    background-color: black;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.earth-img {
    width: 555px;
}

.contact-section {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
    width: 400px;
}

.form-label {
    font-family: 'poppins';
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-field {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-family: 'poppins';
}

.footer {
    background-color: rgb(42, 19, 19);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.footer-menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 20px;
}

h1 {
    color: blue;
    font-family: "playwrite CU", cursive;
    font-weight: 100;
}

h2 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
}

p {
    font-family: "poppins", sans-serif;
    font-weight: 200
}

a {
    font-family: "poppins", sans-serif;
    font-weight: 300;
}